<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="server.SomeServer, server" url="tcp://localhost:8080/someServer"/>
				<wellknown type="server.AnotherServer, server" url="tcp://localhost:8080/anotherServer"/>
				<channels>
					<channel ref="tcp" port="8080"/>
				</channels>
			</client>
		</application>
	</system.runtime.remoting>
</configuration>
