<configuration>
	<system.runtime.remoting>
		<application name="Info">
			<service>
				<wellknown mode="SingleCall" type="server.SomeServer, server" objectUri="someServer"/>
				<wellknown mode="SingleCall" type="server.AnotherServer, server" objectUri="anotherServer"/>
			</service>
			<channels>
				<channel ref="tcp" port="8080" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
